- Project needs to be some exceptions types which are handling Multiple Exceptions, Re-throwing Exceptions, Resource Management and Chaining Exceptions
- Project needs to have some unit tests.




